<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - NewsApp</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @*<link rel="stylesheet" href="~/Content/css/base.css">
            <link rel="stylesheet" href="~/Content/css/main.css">
        <link rel="stylesheet" href="~/Content/Site.css">*@

</head>


<body style="padding-top:0">
    <nav class="navbar navbar-expand-sm bg-light" style="justify-content:space-between">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">NewsApp</a>

        </nav>
        <!-- Links -->
        <ul class="navbar-nav pull-right" style="font-size:19px">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action( "CategoryNews", "Home")"> Vijesti</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action( "CategoryBussiness", "Home")">Biznis</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("CategorySport", "Home")">Sport</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("CategoryMagazine", "Home")">Magazin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action( "CategoryLifestyle", "Home")">Lifestyle</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("CategoryScitech", "Home")">Scitech</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("CategoryAuto", "Home")">Auto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("CategoryBlackChronicle", "Home")">Crna hronika</a>
            </li>
        </ul>
        
        @Html.Partial("_LoginPartial")

    </nav>

    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("NewsApp", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse pull-right">
                    <ul class="nav navbar-nav">

                       
                            <li>@Html.ActionLink("Vijesti", "CategoryNews", "Home")</li>
                            <li>@Html.ActionLink("Biznis", "CategoryBussiness", "Home")</li>
                            <li>@Html.ActionLink("Sport", "CategorySport", "Home")</li>
                            <li>@Html.ActionLink("Magazin", "CategoryMagazine", "Home")</li>
                            <li>@Html.ActionLink("Lifestyle", "CategoryLifestyle", "Home")</li>
                            <li>@Html.ActionLink("Scitech", "CategoryScitech", "Home")</li>
                            <li>@Html.ActionLink("Auto", "CategoryAuto", "Home")</li>
                            <li>@Html.ActionLink("Crna hronika", "CategoryBlackChronicle", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
    </div>*@
        <div class="container body-content">
            @RenderBody()
                <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

    @Scripts.Render("~/bundles/lib")
  
    @RenderSection("scripts", required: false)
</body>
</html>
