
@model NewsApp.Models.News
@{
    ViewBag.Title = "Details";
}

<div class="col-md-5">
    <div class="card" style="transform:scale(0.9); margin:auto;">
        <div class="card-image">
            <figure class="img-thumbnail" style="transform:scale(1.2)">
                <img class="card-image" src="~/Content/css/images/shutterbug.jpg" />
            </figure>
        </div>
        <div class="card-content">
            <div class="media-content">
                <h1>@Model.Title</h1> <p>@Model.Author</p>
                <p>@Model.Content</p>
                <p>Kategorija: @Model.Category.Name</p>
            </div>

        </div>
        <footer class="card-footer">
            @*<a class="button is-link is-rounded is-inverted card-footer-item">Nastavi čitati</a>*@
            @if (User.IsInRole("Admin"))
            {
                <a href="@Url.Action("Edit","News", new {Id = Model.Id })" class="button is-link is-rounded is-inverted card-footer-item">Edit</a>
            }


        </footer>

    </div>
</div>

